body {
    background-color: #f8e1e1;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative; /* Устанавливаем относительное позиционирование для контейнера */
}
.container {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
}

h1 {
    color: #d50000;
}

p {
    font-size: 20px;
    color: #333;
    position: absolute;
    margin: 20px 0;
    padding: 30px 0;
}

.heart {
    color: #d50000;
    font-size: 50px;
}

img {
    height: 100%;
}
.flowers{
    height: 15%;
}
video {
    height: 100%;
}
@media (max-width: 768px)
.text-cont{
    display: flex; /* Включает Flexbox */
    justify-content: center; /* Центрирует элементы по горизонтали */
    align-items: center; /* Центрирует элементы по вертикали (если высота задана) */
}
@media (max-width: 768px)
.text{
    text-align: center;
    width: 50%;
    margin-top: 30%;
}
@media (min-width: 768px)
.text{
    margin-top: 25%;
}
